
.padre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    

}
.hijo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.nieto{
    border-radius: 50%;
    background-color: tomato;
    border: solid;
    height: 150px;
    width: 150px;
}