body{
    color: white;
    font-family: sans-serif;
}

main{
    background-color: #0c1827;
    height: 280px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color:#14273F;
    height: 90%;
    width: 95%;
    border-radius: 10px;
    display: flex;
    
}

#img01{
    padding: 15px;
    border-radius: 25px;
}
article{
    padding-right: 15px;
    width: 95%;
}
p{
    color: rgb(209, 208, 208);
}
#box01{
    display: flex;
    justify-content: space-between;
}

#text01{
    color: #25DBDA	;
}
#text02{
    color: rgb(209, 208, 208);
}
#box02{
    display: flex;
    align-items: center;
    gap: 15px;
}

#img02{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid;
}